body {
    /*-webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;*/
    background-image: linear-gradient(top, #C0C0C0 0%, #C0C0C0 51%);
    background-image: -webkit-linear-gradient(top, #C0C0C0 0%, #E4E4E4 51%);
    background-attachment: fixed;
    font-family: 'Open Sans';
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #999999;
}

a {
    text-decoration: none;
    color: #333;
}

    a:hover {
        color: #999;
    }

.app {
    background: transparent;
    position: absolute;
    left: 50%;
    top: 0;
    height: 80%;
    width: 225px;
    text-align: center;
    padding-top: 120px;
    margin: -115px 0 0 -112px;
}

#wrapper {
    padding: 20px;
    height: 100%;
}

#header {
    margin: auto;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans';
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}

h3 {
    text-align: center;
}

/*.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0 30px;
    padding:2px 0;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
*/

input[type=text], [type=password], [type=email] {
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 25px;
    width: 100%;
}

input[type=number] {
    width: 15%;
}


input[type=text]:focus, [type=password]:focus, [type=email]:focus {
    border-color: #333;
}

input[type=submit], [type=button] {
    padding: 10px 20px;
    background: #2DA130;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    width: 100%;
    text-align: center;
}

    input[type=submit]:hover, [type=button]:hover {
        filter: alpha(opacity=75);
        opacity: 0.75;
    }

label {
    font-size: 14px;
}

select {
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    select:focus {
        border: 2px solid #ccc;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

#date, #boxes, .module {
    height: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(3px 2px 5px #999);
    border-radius: 2px;
}

#date {
    font-size: 30px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    color: black;
    margin-top: -10px;
}

.module {
    background: white;
    height: 70%;
    padding: 10px;
}

#box1, #box2, #box3 {
    width: 30%;
    height: 130px;
    background: white;
    padding: 4px;
    border-radius: 2px;
}

#box1 {
    float: left;
}

#box2 {
    margin: auto;
    margin-top: 0;
}

#box3 {
    float: right;
}

#box1content, #box2content, #box3content {
    padding: 0, 5px;
    text-align:center;
    line-height:10px;
}

#footer {
    background: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10%;
    border-top: 1px solid #999;
}

#statsicon, #homeicon, #calendaricon {
    width: 30%;
    height: 95%;
    padding: 10px 5px;
    border-radius: 2px;
}

    #statsicon img, #homeicon img, #calendaricon img {
        height: 35px;
        margin: auto;
        display: block;
    }


#statsicon {
    float: left;
}

#homeicon {
    margin: auto;
    margin-top: 0;
}

#calendaricon {
    float: right;
}

.selectedicon {
    background: #2DA130;
}

#addbutton {
    float: right;
    margin: 20px;
    position: fixed;
    bottom: 12%;
    right: 5%;
    transition: all .5s linear;
}

    #addbutton img {
        filter: drop-shadow(3px 2px 5px #333);
    }

.clickadd {
    background: white;
    opacity: 0.1;
}

#addmenu {
    float: right;
    margin: 20px;
    position: fixed;
    bottom: 22%;
    right: 2%;
}

    #addmenu li {
        list-style-type: none;
        background: white;
        border-radius: 2px;
        margin-bottom: 25px;
        padding: 5px 15px;
        filter: drop-shadow(3px 2px 5px #888);
    }

#addmenu2 {
    float: right;
    margin: 20px;
    position: fixed;
    bottom: 11%;
    right: 30%;
    margin-right: 30px;
}


    #addmenu2 img {
        width: 45px;
        height: 60px;
        margin-left: 20px;
        filter: drop-shadow(3px 2px 5px #888);
    }

#hamburgermenu {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 10%;
    transition: all .5s linear;
    background: #2DA130;
    width: 60%;
    height: 100%;
    filter: drop-shadow(3px 2px 5px #888);
    border-radius: 2px;
}

    #hamburgermenu ul {
        background: white;
        margin-top: 10px;
        padding: 15px 0 10px 10px;
    }

    #hamburgermenu li {
        list-style-type: none;
        padding: 10px 30px 20px 5px;
        text-align: left;
    }

#hamburgericon {
    margin-left: 20px;
    margin-top: 20px;
}

#calendarlist {
    background: transparent;
    margin-left:-40px;
    margin-bottom:10%;
}

    #calendarlist li {
        background:white;
        list-style-type: none;
        padding: 20px 30px 20px 20px;
        margin-bottom:10px;
    }

.listdate {
    font-size:13px;
    font-weight:bold;
    text-align:center;
    width:10%;
}

.listcontent {
    padding: 10px;
    text-align:right;
    position:relative;
    left:10%;
}